.NoteList {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  .NoteCard {
    min-width: 30vw;
    min-height: 75px;
    box-shadow: 5px 5px #27566b;
    margin-bottom: 10px;

    .card-body {
      .card-title {
        color: #aa8a39;
      }

      a .btn {
        background: #27566b;
        color: white;
      }

      &:hover {
        card-title: white;
        background: #27566b;

        a .btn {
          background: white;
          color: #27566b;
        }
      }
    }
  }
}
